@import url(https://fonts.googleapis.com/css?family=Wellfleet);
body {
    background-color: #523620;
    color: #fff;
    font-family: 'Wellfleet', times, serif;
    font-size: 150%;
}
.shape {
    display: block;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-left: 20px;
    float: left;
    text-align: center;    
}
.square {
}
.circle {
    border-radius: 150px;
}
.yellow{
    background-color: #fecc6f;
}
.white{
    background-color: #fff;
    color: #000;
}