@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
body {
    background: #FFFFFF;
    color: #888;
    margin: 0px; 
    padding: 0px;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#frame {
    width: 50%; 
    border-right: 1px solid #68778E;
    letter-spacing: .2em;
    text-align: center;
    color: #FEFCFF;
    background-color: #EBEBEB;
    display:inline-block;

}
#frame h1 {
    background-image: url(../img/rome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;/*cover;*/
    height: 400px;    
    text-indent: -1000%;
    transition: background-image 1s linear;
}
#frame #mark {
    position:relative;
    top: -270px;
    font-size:3em;
    /*text-transform: uppercase;*/
    letter-spacing: 0.2em;
    line-height: 90px;    
    border: 3px #FEFCFF double;
}
#frame h2 {
    position:relative;
    top: -80px;
    color: #000; 
    text-transform: uppercase;
    animation-duration: 3s;
    animation-name: slidein;
}
#frame h2:before {
    content: "J.";
    font-size:3em;
    color:#888;
}
@keyframes slidein {
    from {
        margin-left: 200%;
        width: 100%; 
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.text {
    width:45%;
    display:inline-block;
    margin:0px;padding:0px;
    float:right;
}
nav ul{
    list-style-type: none;
    margin: 0; padding:0;
}
nav li {
    display: inline-block; 
    height: 50px; 
    margin: 2px; padding:10px 10px 0px 10px;
    font-size:2em;
    color:beige;
    background-color: #766369;
}
nav li:hover {
    background-color: #98AFC7;
    color:#FEFCFF;
}
.text:after {
    content: "";
    clear: both;
}
#cityName {
    font-size: 2em;
    padding-bottom: 20px;
    border-bottom: 1px double #98AFC7;
}
footer{
    background-color: #D3CFCA;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #68778E;
    text-align: center;
    float:left;
    width:100%;
}
@media only screen and (max-width: 768px) {
    /* For tablets: */
    #frame {width:100%;}
    .text {width: 100%;}
}
@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    #frame {width:100%;}
    .text {width: 100%;}
}