@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
    background-color: #f1f1f1; 
    font-family: 'Oswald', 'Futura', sans-serif;
}
section#list {
    position: absolute;
    margin: auto;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    text-align: center;
}
.car {
    display: inline-block;
    background-color: #f1f1f1;
    border: 5px #FFFFFF solid;
    margin-right: 5px;
    padding: 15px;
    font-size: 120%;
    color: #666666;
    box-shadow: 0px 5px 5px 0px rgba(221,221,221,1);
}
img {
    border: 2px white dotted;
    height: 130px; width:180px;
    box-shadow: 2px 5px 5px #699297;
}
section.specifics {
    background-color: #fdfdfd;
    padding:0px;
}
.specifics .pair {
    display: block;
}
.pair .key {
    display: inline-block;
    font-variant: small-caps;
    text-align: right;
    width: 40%;
}
.pair .value {
    display:inline-block;
    text-align: left;
    width: 40%;
    padding-left: 10px;
}
section.speedpanel {
    border: 2px white double;
    padding: 10px;
    font-size: 120%;
}
.speed {
    display: block;
    font-size: 200%;
    color: #ff692e;
}
.mph {
    font-size: 50%;
    margin-left: 10px;
}
.controls {
}
input {
    display: block;
    width: 150px;
    height: 50px;
    padding: 0;
    font-size: 80%;
    color: #ffffff;
    background-color: #c6c6c6;
    border: 2px #ffffff solid;
    margin-bottom: 5px;
	box-shadow: 0px 5px 5px 0px rgba(221,221,221,1);
}
input:hover{
    background-color: #9a9a9a;
}
input.red {
    background-color: #ffc6af;
    border: 2px #c6c6c6 solid;
}
input.red:hover{
    background-color: #ff692e;
}